<!DOCTYPE html>
<html>
<head>
	<title>弦木</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
	<link rel="stylesheet" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" href="css/header.css">  
	<link rel="stylesheet" href="css/search.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset --> 
	<link rel="stylesheet" href="css/footer.css"> <!-- Resource style -->

	<script src="js/modernizr.js"></script> 
</head>
<body >  
	<div class="xm_logo"  >
			<img src="images/logo.png" alt="logo">
			<div  class="xm_logo_desc">
				<div style="font-size:24px;">
					弦木吉他
				</div>
				<div class="xm_logo_english">
					<hr/>xianmu guitar<hr/>
				</div>
			</div>
	</div>
	<div class="xm_service" >
			<img src="images/service.png" alt="logo" width="100%">
			<div class="service_txt">
			<ul>
				<li><a href="#" title="在线咨询">在线咨询</a></li>
				<li><a href="#" title="免费试听">免费试听</a></li>
				<li><a href="#" title="在线咨询">在线咨询</a></li>
			</ul> 
				
			</div>
	</div>

	 <div class="cd-bouncy-nav-modal">
			<nav>
				<ul class="cd-bouncy-nav">
					<li><a href="#0"><img src="images/search/01.jpg" >分类 1</a></li>
					<li><a href="#0"><img src="images/search/02.jpg" >分类 2</a></li>
					<li><a href="#0"><img src="images/search/03.jpg" >分类 3</a></li>
					<li><a href="#0"><img src="images/search/04.jpg" >分类 4</a></li>
					<li><a href="#0"><img src="images/search/05.jpg" >分类 5</a></li>
					<li><a href="#0"><img src="images/search/06.jpg" >分类 6</a></li>
					<li><a href="#0"><img src="images/search/07.jpg" >分类 7</a></li>
					<li><a href="#0"><img src="images/search/08.jpg" >分类 8</a></li>
					<li><a href="#0"><img src="images/search/09.jpg" >分类 9</a></li>
					<li><a href="#0"><img src="images/search/10.jpg" >分类 10</a></li> 
				</ul>
			</nav> 
		</div>  

	 <div  class="container" > 

		<footer> 
			<nav class="cd-stretchy-nav">
				<a class="cd-nav-trigger" href="#0"> 
					<span aria-hidden="true"></span>
				</a>

				<ul>
					<li><a href="#0" class="active"><span>首页</span></a></li>
					<li><a href="#0" ><span>弦木视频</span></a></li>
					<li><a href="#0" ><span>课程介绍</span></a></li>
					<li><a href="#0" ><span>ps</span></a></li>
					<li><a href="#0" ><span>关于弦木</span></a></li>
				</ul>

				<span aria-hidden="true" class="stretchy-nav-bg"></span>
			</nav>
		</footer> 

 		<div class="xm_footer">
			<div class="xm_name">
			<div class="xm_name_content">
				弦木吉他
			</div>
				
			</div>

			<div class="xm_search">
				<div class="search">
				  <svg class="search-svg" viewBox="0 0 320 70"
				       data-init="M150,3 L150,3 a17,17 0 0,1 0,34 L150,37 a17,17 0 0,1 0,-34 M177,47 161.21,31.21"
				       data-mid="M160,3 L160,3 a27,27 0 0,1 0,54 L160,57 a27,27 0 0,1 0,-54 M179.5,49.5 179.5,49.5"
				       data-active="M0,3 L393,3 a27,27 0 0,1 0,54 L0,57 a27,27 0 0,1 0,-54 M279.5,49.5 279.5,49.5">
				    <path class="search-svg__path" d="M150,3 L150,3 a17,17 0 0,1 0,34 L150,37 a17,17 0 0,1 0,-34 M177,47 161.21,31.21" />
				  </svg>
				  <input type="text" class="search-input"  name="keyword" id="keyword"  onkeydown="entersearch();"/>
				  <div class="search-close"></div>
				</div>
			</div>

			<div class="xm_login">
				<div class="login_reg">
					<span><a href="login.html" title="登录">登录</a></span> <span><a href="register.html" title="注册">注册</a></span>
				</div> 
			</div>

		</div>
	</div> 

 

	<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js"><\/script>')</script> 
	<script src="js/footer.js"></script> <!-- Resource jQuery -->
	<script src='js/stopExecutionOnTimeout.js?t=1'></script> 
	 <script >
	$('.cd-bouncy-nav-modal').toggleClass('fade-in', true).toggleClass('fade-out', false).find('li:last-child').one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function(){
				$('.cd-bouncy-nav-modal').toggleClass('is-visible', true);
				if(!$bool) $('.cd-bouncy-nav-modal').removeClass('fade-out'); 
			});
			 
			if($('.cd-bouncy-nav-trigger').parents('.no-csstransitions').length > 0 ) {
				$('.cd-bouncy-nav-modal').toggleClass('is-visible',true); 
			}
	</script>  
	<script src='js/snap.svg-min.js'></script>
	<script>

	    function search(){
	        $keyword = $("#keyword").val();
 
	        alert("跳转执行搜索");
	        // window.location.href = "/xianmu/"+$keyword ;
	    }

	    function entersearch(){
	         //alert(dd);
	        var event = window.event || arguments.callee.caller.arguments[0]; 
	        if (event.keyCode == 13)
	        {
	            search();
	        }
	    } 

	$(document).ready(function () {
	    var $search = $('.search'), $input = $('.search-input'), $close = $('.search-close'), $svg = $('.search-svg'), $path = $('.search-svg__path')[0], initD = $svg.data('init'), midD = $svg.data('mid'), finalD = $svg.data('active'), backDelay = 400, midAnim = 200, bigAnim = 400, animating = false;
	    $(document).on('click', '.search:not(.active)', function () {
	        if (animating)
	            return;
	        animating = true;
	        $search.addClass('active');
	        Snap($path).animate({ 'path': midD }, midAnim, mina.backin, function () {
	            Snap($path).animate({ 'path': finalD }, bigAnim, mina.easeinout, function () {
	                $input.addClass('visible');
	                $input.focus();
	                $close.addClass('visible');
	                animating = false;
	            });
	        });
	    });
	    $(document).on('click', '.search-close', function () { 
	        if (animating)
	            return;
	        animating = true;
	        $input.removeClass('visible');
	        $close.removeClass('visible');
	        $search.removeClass('active');
	        setTimeout(function () {
	            Snap($path).animate({ 'path': midD }, bigAnim, mina.easeinout, function () {
	                Snap($path).animate({ 'path': initD }, midAnim, mina.easeinout, function () {
	                    animating = false;
	                });
	            });
	        }, backDelay);
	    });  
	});
	</script>
</body>
</html>